 /* Asegura que el body ocupe el 100% de la altura de la ventana */
 html, body {
    height: 100%;
    margin: 0;
}

/* Hace que el footer se quede al final utilizando flexbox */
body {
    display: flex;
    flex-direction: column;
}

/* El contenido principal no se verá afectado, el footer siempre estará al final */
footer {
    margin-top: auto; /* Esto empuja el footer al final */
}

/* Tamaño del logo */
#logo {
    width: 70px; /* Aumentado */
    height: 70px;
}

/* Asegurar que el slogan sea visible */
#slogan {
    color: #ccc;
    min-height: 1.5em;
    display: block;
    font-style: italic;
}

nav .nav-link {
    font-size: 1.25rem; /* Ajusta el tamaño según lo necesites */
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    animation: fadeInSlide 1s ease-out;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) brightness(80%);
}

.carousel-item {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
