 /* Asegura que el body ocupe el 100% de la altura de la ventana */
 html, body {
    height: 100%;
    margin: 0;
}

/* Hace que el footer se quede al final utilizando flexbox */
body {
    display: flex;
    flex-direction: column;
}

/* El contenido principal no se verá afectado, el footer siempre estará al final */
footer {
    margin-top: auto; /* Esto empuja el footer al final */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) brightness(80%);
}
